<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <h1>Welcome To YelpCamp</h1>
    <p>View our hand-picked campgrounds from all over the world</p>
    <p>
      <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
    </p>
  </header>


  <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    <!-- <div class="col-lg-12">
      <h3>Our Most Popular Campgrounds!</h3>
    </div> -->

    <% campgrounds.forEach(campground => {%>
      <div class="col-md-3 col-sm-6">
        <div class="thumbnail">
          <img src="<%= campground.image %>" >
          <div class="caption">
            <h4><%= campground.name %> </h4>
          </div>
        </div>
    </div>
    <% });  %>

    </div>

  </div>








<% include partials/footer %>
